* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}
.calculator {
  border: solid 4px #808080;
  padding: 14px;
}

.btn {
  height: 75px;
  width: 75px;
  margin: 15px;
  font-size: 48px;
}
.number {
  border: solid 2px #04d9ff;
  border-radius: 10px;
}
.number:hover {
  background-color: palegreen;
}

.operator,
.equal,
.decimal {
  border: solid 2px #ff9933;
  border-radius: 10px;
}

.operator:hover,
.equal:hover,
.decimal:hover {
  background-color: palegoldenrod;
}
.clear {
  border: solid 2px #ff0000;
  border-radius: 10px;
}
.clear:hover {
  background-color: palevioletred;
}
.first-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.screen {
  width: 300px;
  border: 1px solid salmon;
  height: 75px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 10px;
}
.previous {
  font-size: 20px;
}
.current {
  font-size: 30px;
}
